<%= form_with(model: @purchase_order, local: true) do |f| %>
  <% if @purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% @purchase_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :supplier_id %>
    <%= f.collection_select :supplier_id, Supplier.all, :id, :name, include_blank: true %>
  </div>

  <div class="form-group">
    <%= f.label :order_date %>
    <%= f.date_field :order_date %>
  </div>

  <div class="form-group">
    <%= f.label :received_date %>
    <%= f.date_field :received_date %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, ["pending", "approved", "completed"], include_blank: true %>
  </div>

  <h3>Order Items</h3>
  <%= f.fields_for :purchase_order_items do |item_form| %>
    <div class="nested-fields">
      <div class="form-group">
        <%= item_form.label :product_id, "Product" %>
        <%= item_form.collection_select :product_id, Product.all, :id, :name, include_blank: true %>
      </div>

      <div class="form-group">
        <%= item_form.label :quantity %>
        <%= item_form.number_field :quantity, min: 1 %>
      </div>

      <div class="form-group">
        <%= item_form.label :price %>
        <%= item_form.number_field :price, step: 0.01, min: 0 %>
      </div>
    </div>
  <% end %>

  <%= f.submit "Save Purchase Order" %>
<% end %>
