<div id="<%= dom_id purchase_order %>">
  <p>
    <strong>Supplier:</strong>
    <%= purchase_order.supplier_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= purchase_order.status %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= purchase_order.order_date %>
  </p>

  <p>
    <strong>Received date:</strong>
    <%= purchase_order.received_date %>
  </p>

</div>
