<h1>Purchase Order</h1>
<p>
  <strong>Supplier:</strong> <%= @purchase_order.supplier.name %><br>
  <strong>Status:</strong> <%= @purchase_order.status %><br>
  <strong>Order Date:</strong> <%= @purchase_order.order_date %><br>
  <strong>Total Amount:</strong> <%= number_to_currency(@purchase_order.total_amount) %>
</p>

<h3>Order Items</h3>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_order_items.each do |item| %>
      <tr>
         <td><%= item.product.name %></td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency(item.price || 0) %></td>
      <td><%= number_to_currency(calculate_total(item.quantity, item.price)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
