<h1>Purchase Orders</h1>

<%= link_to "New Purchase Order", new_purchase_order_path, class: "btn btn-primary" %>

<table>
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Order Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_orders.each do |order| %>
      <tr>
        <td><%= order.supplier.name %></td>
        <td><%= order.order_date %></td>
        <td><%= order.status %></td>
        <td>
          <%= link_to "Show", purchase_order_path(order), class: "btn btn-info" %>
          <%= link_to "Edit", edit_purchase_order_path(order), class: "btn btn-warning" %>
          <%= link_to "Delete", purchase_order_path(order), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
