<p style="color: green"><%= notice %></p>

<%= render @purchase_order %>

<!-- Modal -->
<div class="modal fade" id="orderSuccessModal" tabindex="-1" aria-labelledby="orderSuccessModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderSuccessModalLabel">Success!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Your Purchase Order has been successfully created.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "Edit this purchase order", edit_purchase_order_path(@purchase_order) %> |
  <%= link_to "Back to purchase orders", purchase_orders_path %>

  <%= button_to "Destroy this purchase order", @purchase_order, method: :delete %>
</div>
