<h1>Stock Movements</h1>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Movement Type</th>
      <th>Quantity</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stock_movements.each do |movement| %>
      <tr>
        <td><%= movement.product.name %></td>
        <td><%= movement.movement_type.capitalize %></td>
        <td><%= movement.quantity %></td>
        <td><%= movement.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= link_to "Edit", edit_stock_movement_path(movement) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
