<h3>Stock Movements for <%= @product.name %></h3>
<ul>
  <% @product.stock_movements.each do |movement| %>
    <li>
      <%= movement.movement_type.capitalize %> - <%= movement.quantity %> units
      on <%= movement.created_at.strftime("%B %d, %Y") %>
    </li>
  <% end %>
</ul>


<%= link_to "Edit", edit_stock_movement_path(@stock_movement) %>
<%= link_to "Back", stock_movements_path %>
