<h1>Inventory Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Opening Inventory</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @inventory_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.opening_inventory %></td>
        <td><%= item.quantity %></td>
        <td>
          <%= link_to 'Show', inventory_item_path(item), class: "link-btn" %> |
          <%= link_to 'Edit', edit_inventory_item_path(item), class: "link-btn" %> |
          <%= link_to 'Destroy', inventory_item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "link-btn link-btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Inventory Item', new_inventory_item_path, class: "link-btn" %>
