<h1>Set Opening Inventory</h1>
<%= form_with url: inventory_items_path, method: :post, local: true do |f| %>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Opening Stock</th>
        <th>Warehouse</th>
      </tr>
    </thead>
    <tbody>
      <% @inventory_items.each do |item| %>
        <tr>
          <td>
            <%= hidden_field_tag "inventory_items[][product_id]", item[:product].id %>
            <%= item[:product].name %>
          </td>
          <td>
            <%= number_field_tag "inventory_items[][opening_stock]", item[:opening_stock], min: 0, class: 'form-control' %>
          </td>
          <td>
            <%= select_tag "inventory_items[][warehouse_id]", options_from_collection_for_select(Warehouse.all, :id, :name), prompt: 'Select Warehouse', class: 'form-control' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.submit 'Save Opening Inventory', class: 'btn btn-primary' %>
<% end %>
