<h1>Order Details</h1>
<table>
  <tr>
    <th>Product</th>
    <td><%= @order.product.name %></td>
  </tr>
  <tr>
    <th>Customer</th>
    <td><%= @order.customer.name %></td>
  </tr>
  <tr>
    <th>Quantity</th>
    <td><%= @order.quantity %></td>
  </tr>
  <tr>
    <th>Price</th>
    <td><%= @order.price %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><%= @order.status.humanize %></td>
  </tr>
  <tr>
    <th>Order Date</th>
    <td><%= @order.created_at.strftime("%Y-%m-%d") %></td>
  </tr>
  <tr>
    <th>Destination</th>
    <td><%= @order.destination.capitalize %></td>
  </tr>
</table>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %>

  <%= button_to "Destroy this order", @order, method: :delete %>
</div>
