<%= form_with(model: sales_order_item) do |form| %>
  <% if sales_order_item.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(sales_order_item.errors.count, "error") %> prohibited this sales order item from being saved:</h4>
      <ul>
        <% sales_order_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :sales_order_id, "Sales Order ID", class: "form-label" %>
    <%= form.text_field :sales_order_id, class: "form-control", placeholder: "Enter Sales Order ID" %>
  </div>

  <div class="mb-3">
    <%= form.label :product_id, "Product", class: "form-label" %>
    <%= form.text_field :product_id, class: "form-control", placeholder: "Enter Product ID" %>
  </div>

  <div class="mb-3">
    <%= form.label :quantity, "Quantity", class: "form-label" %>
    <%= form.number_field :quantity, class: "form-control", min: 1, placeholder: "Enter Quantity" %>
  </div>

  <div class="mb-3">
    <%= form.label :price, "Price", class: "form-label" %>
    <%= form.text_field :price, class: "form-control", placeholder: "Enter Price" %>
  </div>

  <div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
