<div id="<%= dom_id sales_order_item %>">
  <p>
    <strong>Sales order:</strong>
    <%= sales_order_item.sales_order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= sales_order_item.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= sales_order_item.quantity %>
  </p>
  <p>
    <strong>Total Price:</strong>
    <%= sales_order_item.total_price %>
  </p>

</div>
