<div id="<%= dom_id product %>">
  <table>
    <tr>
      <th>Name:</th>
      <td><%= product.name %></td>
    </tr>
    <tr>
      <th>Sku:</th>
      <td><%= product.sku %></td>
    </tr>
    <tr>
      <th>Price:</th>
      <td><%= number_to_currency(product.price) %></td>
    </tr>
    <tr>
      <th>Stock:</th>
      <td><%= product.stock %></td>
    </tr>
    <tr>
      <th>Supplier:</th>
      <td><%= product.supplier_id %></td>
    </tr>
  </table>
</div>
