<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= product.sku %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Stock level:</strong>
    <%= product.stock_level %>
  </p>

  <p>
    <strong>Low stock threshold:</strong>
    <%= product.low_stock_threshold %>
  </p>

</div>
