
<div class="card h-100 shadow-sm">
  <div class="card-body">
    <h6 class="card-title, p-2 bg-success text-white text-center rounded-pill"><%= product.name %></h6>
    <p class="card-text">Code: <%= product.product_code %></p>
    <p class="card-text">Category: <%= product.category %></p>
    <p class="card-text">Price: <%= number_to_currency(product.price) %></p>
    <%= link_to 'Show', product, class: "btn btn-sm btn-info" %>
  </div>
</div>
