<h1>Sales Order</h1>
<div class="card-body">
  <p>
    <strong>Customer:</strong> <%= @sales_order.customer.name %>
  </p>
  <p>
    <strong>Status:</strong> <%= @sales_order.status %>
  </p>
  <p>
    <strong>Order Date:</strong> <%= @sales_order.created_at.strftime("%B %d, %Y") %>
  </p>
    <p>
    <strong>Total Amount:</strong> <%= number_to_currency(@sales_order.total_amount) %>
  </p>
</div>


<h3>Order Items</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @sales_order.sales_order_items.each do |sales_order_item| %>
      <tr>
        <td><%= sales_order_item.product.name %></td>
        <td><%= sales_order_item.quantity %></td>
        <td><%= number_to_currency(sales_order_item.price) %></td>
        <td><%= number_to_currency(sales_order_item.quantity * sales_order_item.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Sales Trends</h3>
<div>
  <%= line_chart @sales_data, height: "300px" %>
</div>

<%= link_to "Back", sales_orders_path, class: "btn btn-secondary mt-3" %>
