<p style="color: green"><%= notice %></p>

<h1>Sales Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Customer</th>
      <th>Status</th>
      <th>Order Date</th>
      <th>Total Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sales_orders.each do |sales_order| %>
      <tr>
        <td><%= sales_order.id %></td>
        <td><%= sales_order.customer.name %></td>
        <td><%= sales_order.status %></td>
        <td><%= sales_order.order_date %></td>
        <td><%= number_to_currency(sales_order.total_price) %></td>
        <td>
          <%= link_to 'Show', sales_order_path(sales_order), class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_sales_order_path(sales_order), class: "btn btn-warning" %>
          <%= link_to 'Delete', sales_order, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Sales Order', new_sales_order_path, class: 'btn btn-primary' %>
